<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-warning" id="mainNav">
    <a class="navbar-brand" href="/">
        <h2>The Onion Scraper</h2>
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/saved">Saved Articles</a>
            </li>
        </ul>
                <button class="btn btn-secondary" id="scrapeBtn">Scrape Onion News</button>
                <button class="btn btn-secondary" id="clearBtn">Clear Articles</button>
    </div>
</nav>

<div class="container">
    <div id="articles">
        {{#unless news}}
        <h2 class="instruction">Click "Scrape Onion News" to start scraping...</h2>
        {{/unless}}

        {{#each news}}
        <div class='card  cardStyle'>
            <div class='card-body'>
                <p class='titleDisplay'>{{title}}</p>
                <p class='linkDisplay'>
                    <a href={{link}} target="_blank"> {{link}}</a>
                </p>
                {{#if summary}}
                <p class='summaryDisplay'><strong>Summary: </strong>{{summary}}</p>
                {{/if}}
                <button id="saveBtn" data-id={{id}} data-isSaved={{isSaved}} class="btn btn-outline-success">Save</button>
            </div>
        </div>
        {{/each}}
    </div>
    <div id="notes"></div>
</div>